@font-face {
	font-family: 'Red-Hat-Display';
	src: 
		local('fonts/red-hat-display'), url('/src/assets/fonts/red-hat-display/red-hat-display-light.ttf') format('ttf'),
		local('fonts/red-hat-display'), url('/src/assets/fonts/red-hat-display/red-hat-display-light.woff2') format('woff2');
	font-display: block;
	font-weight: 300;
}